<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings"
       type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="IGRSS.Properties.WorkflowLinks" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
   <section name="IGRSS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
   <section name="IGRSS.BusinessLayer.Properties.SecurityExceptionMessages"
      type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false" />
			<section name="IGRSS.BusinessLayer.Properties.Settings"
      type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false" />
		</sectionGroup>
 </configSections>
	<connectionStrings>
  <add name="IGRSS.BusinessLayer.Properties.Settings.IGRSS_DEVConnectionString"
   connectionString="Data Source=BLRSERVER\SQL2005;Initial Catalog=IGRSS_FINAL;Persist Security Info=True;User ID=sa;Password=trans"
   providerName="System.Data.SqlClient" />
  <add name="IGRSS.Properties.Settings.IGRSS_DEVConnectionString"
   connectionString="Data Source=blrserver\sql2005;Initial Catalog=IGRSS_QA;Persist Security Info=True;User ID=sa;Password=trans"
   providerName="System.Data.SqlClient" />
  <add name="IGRSS.Properties.Settings.IGRSS_FINALConnectionString"
   connectionString="Data Source=blrserver\sql2005;Initial Catalog=IGRSS_QA;Persist Security Info=True;User ID=sa;Password=trans"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<applicationSettings>
  <IGRSS.Properties.WorkflowLinks>
   <setting name="LicenseVerification" serializeAs="String">
    <value>~/License/LicenseApplication.aspx?Mode=Verify</value>
   </setting>
   <setting name="LicenseApproval" serializeAs="String">
    <value>~/License/LicenseApproval.aspx?</value>
   </setting>
   <setting name="RefundVerification" serializeAs="String">
    <value>~/Refund/RefundApplication.aspx?Mode=Verify</value>
   </setting>
   <setting name="RefundApproval" serializeAs="String">
    <value>~/Refund/RefundApplication.aspx?Mode=Approve</value>
   </setting>
   <setting name="AppealVerification" serializeAs="String">
    <value>~/Appeal/AppealApplication.aspx?Mode=Verify</value>
   </setting>
   <setting name="AppealApproval" serializeAs="String">
    <value>~/Appeal/AppealApplication.aspx?Mode=Approve</value>
   </setting>
   <setting name="AdjudicationVerification" serializeAs="String">
    <value>~/Adjudication/AdjApplication.aspx?Mode=Verify</value>
   </setting>
   <setting name="ComplainVerify" serializeAs="String">
    <value>~/Complain/Complaint.aspx?Mode=Verify</value>
   </setting>
   <setting name="ComplainInvestigationResult" serializeAs="String">
    <value>~/Complain/InvestigationResult.aspx?Mode=InvestigationResult</value>
   </setting>
   <setting name="AssignComplainInvestigator" serializeAs="String">
    <value>~/Complain/AssignInvestigationOfficer.aspx?</value>
   </setting>
   <setting name="FileStatus" serializeAs="String">
    <value>~/FileManagement/FileStatus.aspx?</value>
   </setting>
   <setting name="FrankingMachineVerification" serializeAs="String">
    <value>~/License/FrankingMachine.aspx?Mode=Verify</value>
   </setting>
   <setting name="FrankingMachineApproval" serializeAs="String">
    <value>~/License/FrankingApproval.aspx?Mode=Approve</value>
   </setting>
  </IGRSS.Properties.WorkflowLinks>
  <IGRSS.Properties.Settings>
   <setting name="BusinessLayer_SdcService_StampDutyCalculator"
    serializeAs="String">
    <value>http://localhost:3418/IgrssWebservices/StampDutyCalculator.asmx</value>
   </setting>
  </IGRSS.Properties.Settings>
  <IGRSS.BusinessLayer.Properties.Settings>
			<setting name="BusinessLogicLayer_StampDutyCalculatorService_StampDutyCalculator"
      serializeAs="String">
				<value>http://localhost:1358/IgrssWebservices/StampDutyCalculator.asmx</value>
			</setting>
		</IGRSS.BusinessLayer.Properties.Settings>
		<IGRSS.BusinessLayer.Properties.SecurityExceptionMessages>
			<setting name="LockedOutUser"
      serializeAs="String">
				<value>This user has beed lockedout.</value>
			</setting>
			<setting name="IncorrectPassword"
      serializeAs="String">
				<value>The username and password that you provided does not match.</value>
			</setting>
			<setting name="UserNotFound"
      serializeAs="String">
				<value>The username specified has invalid</value>
			</setting>
		</IGRSS.BusinessLayer.Properties.SecurityExceptionMessages>
	</applicationSettings>
</configuration>