<connectionStrings>
	<add name="IGRSS_FINALConnectionString"
		 connectionString="Data Source=localhost;Initial Catalog=IGRSS;Persist Security Info=True;User ID=sa;Password=trans"
		 providerName="System.Data.SqlClient" />

	<add name="MembershipConnectionString"
		 connectionString="Data Source=localhost;Initial Catalog=aspnetdb;Persist Security Info=True;User ID=sa;Password=trans"
		 providerName="System.Data.SqlClient" />
</connectionStrings>