<connectionStrings>
	<add name="IGRSS_FINALConnectionString"
		 connectionString="Data Source=BLRSERVER\SQL2005;Initial Catalog=IGRSS_TEST;Persist Security Info=True;User ID=sa;Password=trans"
		 providerName="System.Data.SqlClient" />

	<add name="MembershipConnectionString"
		 connectionString="Data Source=BLRSERVER\SQL2005;Initial Catalog=aspnetdb;Persist Security Info=True;User ID=sa;Password=trans"
		 providerName="System.Data.SqlClient" />
</connectionStrings>