<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IGRSS.Workflows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <IGRSS.Workflows.Properties.Settings>
            <setting name="IgrssWorkflowLibrary_localhost_StampDutyCalculator"
                serializeAs="String">
                <value>http://localhost:3279/IgrssWebservices/StampDutyCalculator.asmx</value>
            </setting>
        </IGRSS.Workflows.Properties.Settings>
    </applicationSettings>
</configuration>